/* Global Styles */
* {
    font-family: 'Ubuntu Light', 'Century Gothic', sans-serif;
    color: #1b1b1b;
}

/* html {
    background-color: #f0f0f0;
} */

body {
    background-color: rgb(255, 248, 238);
}

/* Container Styles */
.container {
    background-color: transparent;
    padding-top: 10px;
    margin-top: 10px;
}

#MainContainer {
    background-color: #e4eaff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
#klusterbud{
   display: flex;
   justify-content: center;
   align-self: center;
   color: black;
   font-family: 'Brush Script MT', cursive;
   font-size: 700%;
}

#TitleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

#title {
    text-align: center;
    color: #333;
}

/* Watch Container Styles */
#watchContainer {
    text-align: center;
    background-color: transparent;
    /* border: 2px solid #333; */
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;
    transition: border-color 0.3s ease-in-out;
}

.watchButton {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.watchButton:hover {
    background-color: #2980b9;
}

/* Dropdown Styles */
#replicaset-select,
#replica-menu,
#default-dropdown {
    background-color: #3498db;
    /* color: #fff; */
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    transition: background-color 0.3s ease-in-out;
}

#default-dropdown {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Log Container Styles */
#logcontainer {
    display: flex;
    justify-content: center;
}

#dropdown-container {
    text-align: center;
    justify-content: center;
}

/* Usage Styles */
#usage {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    margin-top: 20px;
}

#nodeid,
#cpu-header,
#usage-details,
#pulled-usage-details {
    background-color: transparent;
}

/* Modern Card Styles */
.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
    transition: box-shadow 0.3s ease-in-out;
}

#usage-details{
 display: flex;
 background-color: rgba(0,0,0,0);
}
#pulled-usage-details{
    background-color: rgba(0,0,0,0);
}

#replica-menu{
    background-color: #296de8;
    color: white;
    border-radius: 5%;
}
